body{
    background-color: rgb(215, 140, 140);
    font-family: 'Times New Roman', Times, serif;

}

div{ border: 2px solid black;   
  padding: 10px;  margin: 10px;}


#Name{
    color: rebeccapurple;
    font-size: large;
    margin-bottom: 13px;
}

.CL1{
    color: plum;
    margin: 10px 12px 10px 12px;
}


img{
    width: 200px; 
    height: 200px;
    border: 4px soild rebeccapurple;
    border-radius: 10px;
    margin-bottom: 10px;
}

ul{
    border: 2px solid black;
    padding: 20px 10px 20px 30px;
}

li{
    padding: 5px;
}

table,td,th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 200px;
}
form{
    border: 3px solid black;
    padding: 10px;

}

label,input{
    margin: 5px;
}
